
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:deeppink
}

.btn-rosa {
    background-color: #FEADC0
}

.bg-rosa {
    background-color: #f7c7e1
}

img {
    max-width: 600px;
    height: auto;
}

.item {
    display: block;
}

li {
    list-style-type: none;
    color: dimgray;
    font-size: 20px;
}

.ingredientes li, .preparo li {
    margin-left: -30px;
}


